
img + em, .browser-border + em, .browser-mockup + em {
  display: block;
  text-align: left;
  font-size: 0.7rem;
  font-style: normal;
}
.md-typeset .admonition, .md-typeset details {
  font-size: 0.75rem;
}

/* grid */
.md-typeset .grid {
  column-count: 2;
  column-gap: 2em;
  margin-bottom: 20px;
}
.md-typeset .grid dl {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
  margin: 0;
}
.md-typeset .grid.cards dt, .md-typeset .grid.cards dd {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.1rem;
  display: block;
  margin: 0;
  padding: 0.8rem;
  transition: border .25s,box-shadow .25s;
}
.md-typeset .grid.cards dt {
  font-weight: bold;
}
.md-typeset .grid.cards dt .twemoji {
  margin-right: 5px;
}
.md-typeset .grid.cards dd {
  margin-bottom: 0.8rem;
  margin-top: -1px;
}
.md-typeset .grid.cards dd p {
  margin: 0;
}
@media (max-width: 768px) {
  .md-typeset .grid dl {
    display: inline-block;
    margin-bottom: 20px;
  }
  .md-typeset .grid.cards dt, .md-typeset .grid.cards dd {
    width: calc(100vw - 1.2rem - 1.2rem);
  }
}

/* definition list used to display general inputs */
.md-typeset dl dd {
  margin: 10px 0;
}
[dir=ltr] .md-typeset dd {
  margin-left: 0;
}
.md-typeset dl dd code {
  border: 1px solid rgba(230, 230, 230, 0.7);
  padding: 8px 12px;
}

.browser-border {
  border: 1px solid rgba(230, 230, 230, 0.7);
  border-radius: 3px;
  background: #fff;
  margin: 10px 0 5px 0;
}
.browser-mockup {
  border: 1px solid rgba(230, 230, 230, 0.7);
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  /*box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);*/
  position: relative;
  border-radius: 3px;
  margin: 10px 0 5px 0;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup > * {
  display: block;
}


@font-face {
  font-family: 'Panton';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Panton-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Panton';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Panton-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Panton';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Panton-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Panton';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Panton-Light.woff') format('woff');
}

:root {
  --md-text-font: "Panton", sans-serif;
  --md-code-font: "Roboto Mono", monospace;
}

h1 {
  font-weight: 300;
}

[data-md-color-scheme="default"] {
    --md-default-bg-color: #ffffff;
  --md-text-color: #2e2e2e;
  --md-primary-bg-color: #f0f0f0;
  --md-primary-fg-color: #000000;
  --md-footer-bg-color: #f0f0f0;
  --md-accent-fg-color: #0000ff;
}

[data-md-color-scheme="default"] .md-header {
  background-color: #f0f0f0 !important;
  color: #000000 !important;
}

[data-md-color-scheme="default"] .md-header__title,
[data-md-color-scheme="default"] .md-header__button {
  color: #000000 !important;
}

[data-md-color-scheme="default"] .md-tabs {
  background-color: #f0f0f0 !important;
  border-bottom: 1px solid #e0e0e0;
}

[data-md-color-scheme="default"] .md-tabs__link {
  color: #000000 !important;
  opacity: 0.7;
}

[data-md-color-scheme="default"] .md-tabs__link--active,
[data-md-color-scheme="default"] .md-tabs__link:hover {
  color: #000000 !important;
  opacity: 1;
  font-weight: 700;
}

[data-md-color-scheme="default"] footer {
  background-color: #f0f0f0 !important;
}


[data-md-color-scheme="slate"] {
  --md-default-bg-color: #161618;
  --md-text-color: #e6e6e6;
  --md-primary-bg-color: #040405;
  --md-primary-fg-color: #ffffff;
  --md-footer-bg-color: #040405;
}

[data-md-color-scheme="slate"] .md-header {
  background-color: #040405 !important;
  color: #ffffff !important;
}

[data-md-color-scheme="slate"] .md-header__title,
[data-md-color-scheme="slate"] .md-header__button {
  color: #ffffff !important;
}

[data-md-color-scheme="slate"] .md-tabs {
  background-color: #040405 !important;
  border-bottom: none;
}

[data-md-color-scheme="slate"] .md-tabs__link {
  color: #ffffff !important;
  opacity: 0.7;
}

[data-md-color-scheme="slate"] .md-tabs__link--active,
[data-md-color-scheme="slate"] .md-tabs__link:hover {
  color: #ffffff !important;
  opacity: 1;
  font-weight: 700;
}

[data-md-color-scheme="slate"] footer {
  background-color: #040405 !important;
}

[data-md-color-scheme="default"] .md-footer__inner {
  background-color: #f0f0f0 !important; 
  color: #000000 !important;
}

[data-md-color-scheme="default"] .md-footer__link {
  color: #000000 !important;
}

[data-md-color-scheme="default"] .md-footer__direction {
  color: #444444 !important; 
}

[data-md-color-scheme="slate"] .md-footer__inner {
  background-color: #040405 !important;
  color: #ffffff !important;
}

[data-md-color-scheme="slate"] .md-footer__link {
  color: #ffffff !important;
}

[data-md-color-scheme="slate"] .md-footer__direction {
  color: #cccccc !important;
}

[data-md-color-scheme="slate"] .md-footer__link:hover,
[data-md-color-scheme="default"] .md-footer__link:hover {
  background-color: transparent !important;
  opacity: 0.7;
}